ul{
  list-style-type: none;
}

.block{
  display: block;
}

.flex{
  display: flex;
}

.passwordInputDiv{
  margin-top: -1.5rem;
  position: relative;
}

.showPassword {
  cursor: pointer;
  position: absolute; 
  right: 0%;
  padding: 8%;
}


.css-13oufwq-MuiInputBase-root-MuiOutlinedInput-root{
  background-color: white !important ;
}

.css-ejdsk1-MuiButtonBase-root-MuiPickersDay-root.Mui-selected{
  background-color: #ff3366 !important;
  color: white !important;

}

.css-i4bv87-MuiSvgIcon-root{
  fill: #ff3366 !important;
}

.css-ejdsk1-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected){
  border: 1px solid #ff3366 !important;
  background-color: white !important
}

.css-13oufwq-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
  border:1px solid #ff3366 !important;
}

.css-np8i56-MuiFormLabel-root-MuiInputLabel-root{
  border: #ff3366 !important;
}

.css-1io9rkj-MuiButtonBase-root-MuiPickersDay-root.Mui-selected{
  background-color: #ff3366 !important;
  color: white !important;
}

.css-1smlk3z-MuiPaper-root {
  color: #ff3366 !important;
}

.css-1w2o3f6-MuiTypography-root{
  color:#ff3366 !important
}

.css-vnh2vv-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
  border: 1px solid #ff3366 !important;
}


@media (min-width: 600px)
{
.css-1r7kz78-MuiModal-root-MuiDrawer-root{
  display: contents !important;
}
}

.css-3mkgrz-MuiFormControl-root-MuiTextField-root {
  border-radius: 0.25rem !important;
}

.css-lgttvj-MuiInputBase-root-MuiOutlinedInput-root {
  background-color: white !important;
}

.MuiCardHeader-title{
  color: #ff3366 !important;
  font-weight: 600 !important;
}

.MuiListItemText-primary{
  font-weight: 600 !important;
}
/* .css-169yyiq-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
  border: 1px solid #ff3366 !important
} */

.css-143daj2-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
  color: #ff3366 !important
}

/* .css-qc9b41-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused .MuiOutlinedInput-notchedOutline{
  border: 1px solid #ff3366 !important
} */



.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 60px;
  color: #ff3366;
  cursor: pointer;
}

.paginationActive a {
  color: white;
  background-color: #ff3366;
}

.paginationDisabled a {
  color: white;
  background-color: white;
}
.swiper-pagination-bullet-active {
  background-color: #ffffff00 !important;
}

.paginationBttns {
  color: black;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input::-webkit-file-upload-button{
  background-color: #fdb3c5 !important;
  border: none !important;
  border-radius: 1rem !important;
  padding: 0.5rem !important;
  margin-top: -0.5rem !important;
  color: white !important;
  font-weight: 600 !important;
}

.css-12g3g83-MuiPaper-root{
 background-color: #fff5f894 !important;
}


.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
  border-color: #ff33662e !important;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.swiper-container {
  height: 30vh;
  width: 100%;
}
.swiper-button-next,
.swiper-button-prev {
  color: #ffffff00 !important;
    cursor: pointer !important;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff69 !important;
}

.swiperSlideDiv {
  position: relative;
  width: 100%;
  height: 100%;
}


.css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
  background-color: white !important;
}

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon{
  fill: #ff3366 !important
}


.css-5ld0j0-MuiFormControl-root-MuiTextField-root .OnePirateTextField-input{
  background-color: white !important;
}

.css-5ld0j0-MuiFormControl-root-MuiTextField-root .OnePirateTextField-inputBorder{
  border: none !important;
}


.css-581bxg-MuiFormLabel-root-MuiInputLabel-root{
  color: #ff3366 !important;
  font-weight: 600 !important;
}


.dontshow{
  display:none;
}

.showall{
  width: 100%;
}

.css-q1we12-MuiFormLabel-root-MuiInputLabel-root{
  color:#ff3366 !important;
  font-weight:800 !important;
}

.css-dqr9h-MuiRating-label{
  font-size: 2.5rem !important;
}